body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;

}

.hulf-width {
    width: 50%;
    margin-right: 20px;
    padding-left: 2%;

}

.hulf-width img {
    width: 80%;
    height: 100%;

}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-image: linear-gradient(rgb(7, 182, 48), rgb(134, 10, 143));
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.hulf-width p {
    text-align: justify;

}

.experience-aria {
    display: block;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;

}

.flxible-Container {
    display: flex;
}

.experiences-item {
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
}

#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-expo {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}